html{
    scroll-behavior: smooth;
}

body{
    background-image: url('../img/background.png');
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5{
    font-family: ff-good-headline-web-pro-ext;
}
p{
    font-family: sofia-pro;
}
.logo{
    position: absolute;
    left: 100px;
    top: 20px;
    width: 200px;
    z-index: 5;
}
.section1__bg--image{
    position: absolute;
    width: 100%;
    top: -250px;
}
.social{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 30px;
    width: 50px;
    z-index: 3;
}
.language{
    position: absolute;
    right: 50px;
    top: 30px;
}
.language h5{
    color: #333d3c;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}
.language a:hover{
    text-decoration: none;
}
.gift__text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 3;
    z-index:2;
}
h1{
    font-weight: bolder;
    letter-spacing: 3px;
    color: #333d3c;
    font-size: 80px;
}
h5{
    font-weight: 500;
    letter-spacing: 2px;
}
.gift__bordered{
    font-family: ff-good-headline-web-pro-ext;
    font-weight: 400;
    color: white;
    border:solid;
    letter-spacing: 2px;
    padding: 5 20 5 20; 
    font-size: 20px;
    transition: 1s;
}
.gift__bordered:hover{
    color: #333d3c;
    
    text-decoration: none;
}

.gift{
    width: 30%;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

.gift__image{
    width: 100%;
    height: auto;  
    margin-left: 13px; 
    
}
.gift__arrow{
    position: absolute;
    width: 100px;
    height: 200px;
    bottom: 20%;
    left: 50%;
    right: 50%;
    margin-left: -50px;
    color: #333d3c;
}
.gift__arrow:hover{
    text-decoration: none;
    color: #333d3c;
}
.gift__arrow h5{
    transition: transform .7s ease-in-out;
}
.gift__arrow--left-arm{
    position: absolute;
    width: 3px;
    height: 100px;
    border-left: 2px solid #333d3c;
    box-sizing: border-box;
    transition: transform .7s ease-in-out;
  }
  .gift__arrow--right-arm{
    position: absolute;
    width: 3px;
    height: 100px;
    border-left: 2px solid #333d3c;
    box-sizing: border-box;
    transition: transform .7s ease-in-out;
  }

  .gift__arrow:hover .gift__arrow--right-arm{
    transform: translate(40px, 0) rotate(45deg);
  }
  .gift__arrow:hover .gift__arrow--left-arm{
    transform: translate(-40px, 0) rotate(-45deg);
  }
  .gift__arrow:hover h5{
    transform: scale(1.5);
  }

 .section2 h4{
    color: #868782;
    position: absolute;
 }
 .section2 p{
    color: #868782;
    margin-left: 40px;
 }
 .section2__dyrector{
    font-family: ff-good-headline-web-pro-ext;
    font-weight: bold;
    letter-spacing: 2px;
 }
 .section2__dyrector--line{
    letter-spacing: 0px;
 }
 .section2__dyrector--name{
    color: #333d3c;
    font-size: 23px;
 }
 .section2__dyrector--button{
    letter-spacing: 1px;
    font-weight: bold;
    background-color: #bab8ac;
    border: none;
    color: white;
    font-size: 23px;
    transition: 1s;
    cursor: pointer;
 }
 .section2__dyrector--button:hover{
    background-color: white;
    color: #bab8ac;
 }
 .section3{
     margin-top: 200px;
     background-color: #f3eedb;
     padding: 50px;
     margin-bottom: 200px;
     height: 300px;
 }
.section3__text{
    display: table-cell;
    border-right: 1px solid black;
    color:#a7afa7;
    width: 50%;
 }
 .section3__title{
    display: table-cell;
    padding-left: 70px;
    transform: translateY(20%);
 }
 .section3__title h1{
     font-size: 50px;
     color: black;
 }
 .section3__title h2{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.section3__title--arrow{
    position: absolute;
    right: 0;
    top: 20%;
    transition: 1s;
}
.section3__title--arrow:hover{
    opacity: 0.5;
}
.ball{
    position: relative;
    float:right;
    margin-right: 30%;
    margin-top: -220px;
}
.unpack__title{
    text-align: center;
    letter-spacing: 25px;
    color: #333d3c;
}
.unpack__description{
    margin-top: 50px;
    text-align: center;
    color: #333d3c;
    font-weight: bold;
    letter-spacing: 2px;
}
.wrapper__button{
	width: 50px;
	height: 50px;
	position: relative;
	background-color: #333d3c;
}
.wrapper{
    position: fixed;
    top: 30%;
    right:0;
	cursor: pointer;
    width: 50px;
    height: 50px;
    z-index:4;
    transition: 1s;
    z-index:10;
}
.icon-bar{
    
	position: absolute;
	height: 2px;
	width: 70%;
    left:15%;
	background: #eee0c9;
	transition: 0.35s;
}
.top{
	top: 30%;
}
.mid{
	top: 50%;
}
.bot{
	top: 70%;
}
.menu{
	position: fixed;
	right: -20%;
	transition: 1s;
	background-color: rgba(0,0,0,0.3);
	height: 100%;
	width: 20%;
    z-index: 10;
}
.menu.slide{
	right:0;
}

.menu ul{
	background-color: rgba(0,0,0,0.3);
	list-style: none;
	left:0;
	padding-inline-start:0px;
	text-align:center;
	font-size: 20px;
	width: 100%;
}
.menu ul li{
	padding: 20px;
	transition: 1s;
	border-bottom: 1px solid black;
}
.menu ul li a{
	display: block;
}
.menu ul li:hover{
	background-color: rgba(0,0,0,0.5);
	transition: 1s;
	
}
.menu ul ul{
	position: static;
	display: none;
}
.menu ul .prod-show.show{
	display: block;
}
.prod-show{
	margin-top: 30px;
}
.menu ul ul li{
	border-bottom: none;
}
.menu ul ul li a{
    
	font-size: 16px;
	padding-left: 80px;
}
.menu ul li a i{
	position: absolute;
	transform: translateY(-50%);
	top: 110px;
	right: 20px;
	transition: transform 0.4s;
	
}
.menu ul li a i.rotate{
	transform: translateY(-50%) rotate(-180deg);
	
}
.menu a{
    font-family: ff-good-headline-web-pro-ext;
	color: white;
	text-decoration: none;
	transition: 1s;
}
.menu a:hover{
	transition: 1s;
}
.icon.close .top{
	transform: rotate(45deg);
	top: 48%;
}
.icon.close .mid, .icon.close .bot{
	transform: rotate(-45deg);
	top: 48%;
}
.wrapper.moved{
    right: 20%;
    top: 0;
}
.section4{
    position: relative;

}
.section4 hr{
    width: 70px;
    float: left;
    border-top: 2px solid;
margin-top: -5px;
}
.section4__bg2{
    position: absolute;
    margin-top: 100px;
    width: 100%;
}
.section4__comfort{
    padding-top: 200px;
    padding-bottom: 100px;
}
.section4__description{
    float: left;
}
.section4__security{
    float: right;
}
.section4__recognition{
    float: left;
    margin-left: 430px;
}

@media(max-width: 1500px){
    .gift{
        width: 35%;
    }
}
@media(max-width: 1300px){
    .gift{
        width: 40%;
    }
}
@media(max-width: 1100px){
    .gift{
        width: 50%;
    }
    .section1__bg--image{
        margin-top: 100px;
        
    }
    .section4__recognition{
        margin-left: 200px;
    }
    .menu{
        width: 50%;
        right: -50%;
    }
    .wrapper.moved{
        right:50%;
    }
    
}
@media(max-width: 991px){
    .section3{
        height: 400px;
    }
}
@media(max-width: 900px){
    .gift{
        width: 60%;
    }
    .section1__bg--image{
        display: none;
        
    }
    .logo{
        width: 100px;
        left:20px;;
    }
    .wrapper{
        top:0;
    }
    .section4__recognition{
        margin-left: 100px;
    }
}
@media(max-width: 767px){
    .section3{
        height: 500px;
    }
    .section3__text{
        display:block;
        border-right: none;
        width:90%;
    }
    .section3__title{
        display:block;
        padding-bottom: 50px;
    }
    .section4__security img{
        width: 120px;
    }
    .section4__security .col-md-5{
        left:20%;
    }
}
@media(max-width: 750px){
    .gift{
        width: 70%;
    }
    .gift__text h1{
        font-size: 40px;
    }
}
@media(max-width: 600px){
    .gift{
        width: 90%;
    }
    .section4__recognition{
        margin-left: 0;
    }
    .section4__recognition--image{
        left: 50%;
    }
    .menu{
        width: 90%;
        right: -90%;
    }
    .wrapper.moved{
        right:90%;
    }
}